{
    "version": "0.2.0",
    "configurations": [
        {
            "name": ".NET Core Launch (console)",
            "type": "coreclr",
            "request": "launch",                                    
            "program": "PATH_TO_CSX",            
            "args": ["${file}"],
            "cwd": "${workspaceRoot}",
            "stopAtEntry": false,
            "console": "internalConsole",
            "requireExactSource": false
        }
    ]
}

